html,body,.root {
    height: 100%;
}
body {
    background-color: #EBEEF0 !important;
    font-family: Raleway !important;
    line-height: 1.5;
    margin: 0px !important;
}
/* FONT */
@font-face {
    font-family: 'RalewayEL';
    font-style: normal;
    font-weight: 200;
    src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(./fonts/raleway1.woff) format('woff');
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), url(./fonts/raleway2.woff) format('woff');
}

.align-center {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
}

/* books grid */

.books-grid {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.books-grid li {
    padding: 10px 15px;
    text-align: left;
}
.book {
    width: 140px;
}
