<dom-module id="main-app">

  <template>
    <style>
      :host {}
    </style>
    <!-- app-location binds to the app's URL -->
    <app-location use-hash-as-path route="{{route}}"></app-location>
    <iron-pages selected="[[route.path]]" attr-for-selected="name">
      <book-listing name="list" route="{{subroute}}"></book-listing>
      <book-lookup name="search" route="{{subroute}}"></book-lookup>
    </iron-pages>

  </template>

  <script>
    Polymer({
      is: 'main-app',
      properties: {}
    });
  </script>

</dom-module>
